*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Baloo Tammudu 2', cursive;
    margin: 0;
    padding: 0;
}

.Intro {
    background-image: url(Images/top-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.title h1 {
    font-size: 55px;
    font-weight: 700;
    margin: 10px 0;
    line-height:60px;
}
.title span {
    color: orange;
}
.intro-text {
    width: 45%;
    margin-top: 70px;
}

.title-text h2 {
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 24px;

}
.title-text p {
    margin-top: 0;
    line-height: 30px;
    font-size: 18px;
    text-align: justify;
    width: 90%;
    color: #080808b0;
    margin-bottom: 20px;
}

.link {
    text-decoration: none;
    background: linear-gradient(45deg, #f86300, #ff0900e1);
    padding: 7px 40px 1px;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}


.img {
    width: 550px;
    height: auto;
}
.img img {
    width: 100%;
    height: auto;
}

.dream {
    background-image: url(Images/dream-bg.png);
    background-position:right;
    background-repeat: no-repeat ;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.drem-img {
    width: 50%;
    margin-left: 80px;
}
.drem-img img {
    width: 90%;
}
.drem-text {
    width: 50%;
    margin-top: 60px;
}
.drem-text h2 {
    font-size: 40px;
}
.drem-text h4 {
    font-size: 28px;
    font-weight: 500;
}
.drem-text p {
    line-height: 25px;
    width: 80%;
    font-size: 18px;
    text-align: justify;
    margin-bottom: 25px;
}

.experiences {
    background-image: url(Images/exp-bg.png);
    background-repeat: no-repeat;
    background-position:left;
    margin-top: 100px;
}

.ex-ti {
    font-size: 55px;
    margin-left: 65px;
}
.exp-area {
    display: flex;
    justify-content: center;
}

.full-stack {
    width: 39%;
    margin: 20px;
    padding: 30px 30px 100px;
    box-shadow: 2px 2px 30px #0000008e;
    border-radius: 10px;
}
.full-stack h1 {
    font-size: 45px;
}
.full-stack h3 {
    font-size: 24px;
    color: #ff2600;
}
.full-stack p {
    font-size: 18px ;
    line-height: 28px;
    color: #555353;
    text-align: justify;
}
#web-dev {
    border-left: 7px solid;
    border-image: linear-gradient(#0000ff, #05f6ea);
    border-image-slice: 1;
}
#ful {
    border-left: 7px solid;
    border-image: linear-gradient(#ff4800f6, #f62905c9);
    border-image-slice: 1;
}

footer{
    margin-top: 50px;
    text-align: center;
    font-size:18px;
    color: #3f3f3f;
}