html{
    font-size: 10px;
}
*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Baloo Tammudu 2', cursive;
    margin: 0;
    padding: 0;
}

.Intro {
    background-image: url(Images/top-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.title h1 {
    font-size: 5.5rem;
    font-weight: 700;
    margin: 1rem 0;
    line-height:6rem;
}
.title span {
    color: orange;
}
.intro-text {
    width: 45%;
    margin-top: 7rem;
}

.title-text h2 {
    margin-top: 4rem;
    margin-bottom: 0;
    font-size: 2.4rem;

}
.title-text p {
    margin-top: 0;
    line-height: 3rem;
    font-size: 1.8rem;
    text-align: justify;
    width: 90%;
    color: #080808b0;
    margin-bottom: 2rem;
}

.link {
    text-decoration: none;
    background: linear-gradient(45deg, #f86300, #ff0900e1);
    padding: .7rem 4rem 0.1rem;
    color: #fff;
    border-radius: .5rem;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}


.img {
    width: 55rem;
    height: auto;
}
.img img {
    width: 100%;
    height: auto;
}

.dream {
    background-image: url(Images/dream-bg.png);
    background-position:right;
    background-repeat: no-repeat ;
    display: flex;
    justify-content: center;
    margin-top: 8rem;
}
.drem-img {
    width: 50%;
    margin-left: 8rem;
}
.drem-img img {
    width: 90%;
}
.drem-text {
    width: 50%;
    margin-top: 6rem;
}
.drem-text h2 {
    font-size: 4rem;
}
.drem-text h4 {
    font-size: 2.8rem;
    font-weight: 500;
}
.drem-text p {
    line-height: 2.5rem;
    width: 80%;
    font-size: 1.8rem;
    text-align: justify;
    margin-bottom: 2.5rem;
}

.experiences {
    background-image: url(Images/exp-bg.png);
    background-repeat: no-repeat;
    background-position:left;
    margin-top: 10rem;
}

.ex-ti {
    font-size: 5.5rem;
    margin-left: 6.5rem;
}
.exp-area {
    display: flex;
    justify-content: center;
}

.full-stack {
    width: 39%;
    margin: 2rem;
    padding: 3rem 3rem 10rem;
    box-shadow: .2rem .2rem 3rem #0000008e;
    border-radius: 1rem;
}
.full-stack h1 {
    font-size: 4.5rem;
}
.full-stack h3 {
    font-size: 2.4rem;
    color: #ff2600;
}
.full-stack p {
    font-size: 1.8rem ;
    line-height: 2.8rem;
    color: #555353;
    text-align: justify;
}
#web-dev {
    border-left: .7rem solid;
    border-image: linear-gradient(#0000ff, #05f6ea);
    border-image-slice: 1;
}
#ful {
    border-left: .7rem solid;
    border-image: linear-gradient(#ff4800f6, #f62905c9);
    border-image-slice: 1;
}

footer{
    margin-top: 5rem;
    text-align: center;
    font-size: 1.8rem;
    color: #3f3f3f;
}

@media (max-width: 320px) {
    html {
        font-size: 3px ;
    }
}